[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ClusterShell = "==1.9.3"
GitPython = "==3.1.50"
Jinja2 = "==3.1.6"
PyMySQL = "==1.2.0"
PyYAML = "==6.0.3"
ansible-runner = "==2.4.3"
ara = "==1.7.5"
celery = {version = "==5.6.3", extras = ["redis"]}
cliff = "==4.14.0"
deepdiff = "==9.1.0"
docker = "==7.1.0"
dtrack-auditor = "==1.5.0"
flower = "==2.0.1"
hiredis = "==3.4.0"
huey = "==2.6.0"
jc = "==1.25.7"
keystoneauth1 = "==5.14.0"
kombu = "==5.6.2"
kubernetes = "==36.0.2"
loguru = "==0.7.3"
nbcli = "0.10.0.dev2"
openstacksdk = "==4.10.0"
paramiko = "==5.0.0"
pottery = "==3.0.1"
prompt-toolkit = "==3.0.52"
pyang = "==2.7.1"
pynetbox = "==7.8.0"
pytest-testinfra = "==10.2.2"
python-dateutil = "==2.9.0.post0"
redfish = "==3.3.5"
setuptools = "==82.0.1"
sqlmodel = "==0.0.38"
sushy = "==5.11.0"
transitions = "==0.9.3"
validators = "==0.35.0"
watchdog = "==6.0.0"

[dev-packages]
httpx = "==0.28.1"
pytest = "==9.1.1"
pytest-cov = "==7.1.0"
pytest-mock = "==3.15.1"
