[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ClusterShell = "==1.9.3"
GitPython = "==3.1.45"
Jinja2 = "==3.1.6"
PyMySQL = "==1.1.2"
PyYAML = "==6.0.3"
ansible-runner = "==2.4.2"
ara = "==1.7.3"
celery = {version = "==5.6.0", extras = ["redis"]}
cliff = "==4.12.0"
deepdiff = "==8.6.1"
docker = "==7.1.0"
dtrack-auditor = "==1.5.0"
flower = "==2.0.1"
hiredis = "==3.3.0"
huey = "==2.5.4"
jc = "==1.25.6"
keystoneauth1 = "==5.12.0"
kombu = "==5.6.1"
kubernetes = "==33.1.0"
loguru = "==0.7.3"
nbcli = "0.10.0.dev2"
openstacksdk = "==4.8.0"
paramiko = "==4.0.0"
pottery = "==3.0.1"
prompt-toolkit = "==3.0.52"
pyang = "==2.7.1"
pynetbox = "==7.5.0"
pytest-testinfra = "==10.2.2"
python-dateutil = "==2.9.0.post0"
redfish = "==3.3.4"
setuptools = "==80.9.0"
sqlmodel = "==0.0.27"
sushy = "==5.9.0"
transitions = "==0.9.3"
validators = "==0.35.0"
watchdog = "==6.0.0"
