GitPython==3.1.26
Jinja2==3.0.3
PyYAML==6.0
ansible-runner==2.1.1
celery[redis]==5.2.2
cliff==3.10.1
deepdiff==5.7.0
fastapi==0.74.0
flower==1.0.0
hiredis==2.0.0
kombu==5.2.3
napalm==3.3.1
netmiko==3.4.0
openstacksdk==0.61.0
pottery==1.4.7
pydantic==1.9.0
pynetbox==6.6.0
sushy==4.1.0
tabulate==0.8.9
transitions==0.8.10
uvicorn[standard]==0.17.4
watchdog==2.1.6
