GitPython==3.1.27
Jinja2==3.1.2
PyYAML==6.0
ansible-runner==2.2.0
celery[redis]==5.2.6
cliff==3.10.1
deepdiff==5.8.1
fastapi==0.78.0
flower==1.0.0
hiredis==2.0.0
kombu==5.2.4
napalm==3.3.1
openstacksdk==0.61.0
pottery==3.0.0
pydantic==1.9.0
pynetbox==6.6.2
routeros-diff==0.5.3
sushy==4.1.1
tabulate==0.8.9
transitions==0.8.11
uvicorn[standard]==0.17.6
watchdog==2.1.7

# https://github.com/ktbyers/netmiko/pull/2362
git+https://github.com/ktbyers/netmiko.git@develop
